debug_crash no
debug_internaldepth auto
debug_rawsound no
debug_speedmark no
device_alsa_device default
device_alsa_mixer channel
device_color_bgr15 yes
device_color_bgr16 yes
device_color_bgr24 yes
device_color_bgr32 yes
device_color_bgr8 yes
device_color_palette8 yes
device_color_yuy2 yes
device_joystick auto
device_keyboard sdl
device_mouse auto
device_raw_firstkeyhack no
device_raw_mousedev[0] auto
device_raw_mousedev[1] auto
device_raw_mousedev[2] auto
device_raw_mousedev[3] auto
device_raw_mousetype[0] pnp
device_raw_mousetype[1] pnp
device_raw_mousetype[2] pnp
device_raw_mousetype[3] pnp
device_sdl_samples 512
device_sound auto
device_video sdl
device_video_cursor auto
device_video_doublescan yes
device_video_fastchange no
device_video_interlace yes
device_video_output fullscreen
device_video_overlaysize 1024
device_video_singlescan yes
dir_artwork /home/pigaming/RetroPie/roms/mame-advmame/artwork
dir_diff /home/pigaming/RetroPie/roms/mame-advmame/diff
dir_hi /home/pigaming/RetroPie/roms/mame-advmame/hi
dir_image /home/pigaming/RetroPie/roms/mame-advmame
dir_inp /home/pigaming/RetroPie/roms/mame-advmame/inp
dir_memcard /home/pigaming/RetroPie/roms/mame-advmame/memcard
dir_nvram /home/pigaming/RetroPie/roms/mame-advmame/nvram
dir_rom /home/pigaming/RetroPie/roms/mame-advmame:/home/pigaming/RetroPie/roms/arcade
dir_sample /home/pigaming/RetroPie/roms/mame-advmame/samples
dir_snap /home/pigaming/RetroPie/roms/mame-advmame/snap
dir_sta /home/pigaming/RetroPie/roms/mame-advmame/nvram
display_adjust none
display_antialias yes
display_artwork_backdrop yes
display_artwork_bezel no
display_artwork_crop yes
display_artwork_overlay yes
display_aspectx 16
display_aspecty 9
display_beam 1
display_brightness 1
display_buffer no
display_color auto
display_expand 1
display_flicker 0
display_flipx no
display_flipy no
display_frameskip auto
display_gamma 1
display_intensity 1.5
display_interlaceeffect none
display_magnify 1
display_mode sdl_1920x1080
display_pausebrightness 1
display_resize fractional
display_resizeeffect auto
display_restore yes
display_rgbeffect none
display_rol no
display_ror no
display_scanlines no
display_skipcolumns auto
display_skiplines auto
display_translucency yes
display_vsync yes
include 
input_hotkey yes
input_idleexit 0
input_map[bill1] auto
input_map[coin1] auto
input_map[coin2] auto
input_map[coin3] auto
input_map[coin4] auto
input_map[coin5] auto
input_map[coin6] auto
input_map[coin7] auto
input_map[coin8] auto
input_map[event10] auto
input_map[event11] auto
input_map[event12] auto
input_map[event13] auto
input_map[event14] auto
input_map[event1] auto
input_map[event2] auto
input_map[event3] auto
input_map[event4] auto
input_map[event5] auto
input_map[event6] auto
input_map[event7] auto
input_map[event8] auto
input_map[event9] auto
input_map[interlock] auto
input_map[p1_button10] auto
input_map[p1_button1] auto
input_map[p1_button2] auto
input_map[p1_button3] auto
input_map[p1_button4] auto
input_map[p1_button5] auto
input_map[p1_button6] auto
input_map[p1_button7] auto
input_map[p1_button8] auto
input_map[p1_button9] auto
input_map[p1_dial_down] auto
input_map[p1_dial_left] auto
input_map[p1_dial_right] auto
input_map[p1_dial_up] auto
input_map[p1_dialx] auto
input_map[p1_dialy] auto
input_map[p1_doubleleft_down] auto
input_map[p1_doubleleft_left] auto
input_map[p1_doubleleft_right] auto
input_map[p1_doubleleft_up] auto
input_map[p1_doubleright_down] auto
input_map[p1_doubleright_left] auto
input_map[p1_doubleright_right] auto
input_map[p1_doubleright_up] auto
input_map[p1_down] auto
input_map[p1_left] auto
input_map[p1_lightgun_down] auto
input_map[p1_lightgun_left] auto
input_map[p1_lightgun_right] auto
input_map[p1_lightgun_up] auto
input_map[p1_lightgunx] auto
input_map[p1_lightguny] auto
input_map[p1_mahjong_a] auto
input_map[p1_mahjong_b] auto
input_map[p1_mahjong_bet] auto
input_map[p1_mahjong_c] auto
input_map[p1_mahjong_chance] auto
input_map[p1_mahjong_chi] auto
input_map[p1_mahjong_d] auto
input_map[p1_mahjong_double_up] auto
input_map[p1_mahjong_e] auto
input_map[p1_mahjong_f] auto
input_map[p1_mahjong_flip_flop] auto
input_map[p1_mahjong_g] auto
input_map[p1_mahjong_h] auto
input_map[p1_mahjong_i] auto
input_map[p1_mahjong_j] auto
input_map[p1_mahjong_k] auto
input_map[p1_mahjong_kan] auto
input_map[p1_mahjong_l] auto
input_map[p1_mahjong_m] auto
input_map[p1_mahjong_n] auto
input_map[p1_mahjong_pon] auto
input_map[p1_mahjong_reach] auto
input_map[p1_mahjong_ron] auto
input_map[p1_mahjong_score] auto
input_map[p1_mouse_down] auto
input_map[p1_mouse_left] auto
input_map[p1_mouse_right] auto
input_map[p1_mouse_up] auto
input_map[p1_mousex] auto
input_map[p1_mousey] auto
input_map[p1_paddle_down] auto
input_map[p1_paddle_left] auto
input_map[p1_paddle_right] auto
input_map[p1_paddle_up] auto
input_map[p1_paddlex] auto
input_map[p1_paddley] auto
input_map[p1_pedalbrake] auto
input_map[p1_pedalbrake_push] auto
input_map[p1_pedalbrake_release] auto
input_map[p1_pedalgas] auto
input_map[p1_pedalgas_push] auto
input_map[p1_pedalgas_release] auto
input_map[p1_pedalother] auto
input_map[p1_pedalother_push] auto
input_map[p1_pedalother_release] auto
input_map[p1_right] auto
input_map[p1_stick_backward] auto
input_map[p1_stick_down] auto
input_map[p1_stick_forward] auto
input_map[p1_stick_left] auto
input_map[p1_stick_right] auto
input_map[p1_stick_up] auto
input_map[p1_stickx] auto
input_map[p1_sticky] auto
input_map[p1_stickz] auto
input_map[p1_trackball_down] auto
input_map[p1_trackball_left] auto
input_map[p1_trackball_right] auto
input_map[p1_trackball_up] auto
input_map[p1_trackballx] auto
input_map[p1_trackbally] auto
input_map[p1_up] auto
input_map[p2_button10] auto
input_map[p2_button1] auto
input_map[p2_button2] auto
input_map[p2_button3] auto
input_map[p2_button4] auto
input_map[p2_button5] auto
input_map[p2_button6] auto
input_map[p2_button7] auto
input_map[p2_button8] auto
input_map[p2_button9] auto
input_map[p2_dial_down] auto
input_map[p2_dial_left] auto
input_map[p2_dial_right] auto
input_map[p2_dial_up] auto
input_map[p2_dialx] auto
input_map[p2_dialy] auto
input_map[p2_doubleleft_down] auto
input_map[p2_doubleleft_left] auto
input_map[p2_doubleleft_right] auto
input_map[p2_doubleleft_up] auto
input_map[p2_doubleright_down] auto
input_map[p2_doubleright_left] auto
input_map[p2_doubleright_right] auto
input_map[p2_doubleright_up] auto
input_map[p2_down] auto
input_map[p2_left] auto
input_map[p2_lightgun_down] auto
input_map[p2_lightgun_left] auto
input_map[p2_lightgun_right] auto
input_map[p2_lightgun_up] auto
input_map[p2_lightgunx] auto
input_map[p2_lightguny] auto
input_map[p2_mahjong_a] auto
input_map[p2_mahjong_b] auto
input_map[p2_mahjong_bet] auto
input_map[p2_mahjong_c] auto
input_map[p2_mahjong_chance] auto
input_map[p2_mahjong_chi] auto
input_map[p2_mahjong_d] auto
input_map[p2_mahjong_double_up] auto
input_map[p2_mahjong_e] auto
input_map[p2_mahjong_f] auto
input_map[p2_mahjong_flip_flop] auto
input_map[p2_mahjong_g] auto
input_map[p2_mahjong_h] auto
input_map[p2_mahjong_i] auto
input_map[p2_mahjong_j] auto
input_map[p2_mahjong_k] auto
input_map[p2_mahjong_kan] auto
input_map[p2_mahjong_l] auto
input_map[p2_mahjong_m] auto
input_map[p2_mahjong_n] auto
input_map[p2_mahjong_pon] auto
input_map[p2_mahjong_reach] auto
input_map[p2_mahjong_ron] auto
input_map[p2_mahjong_score] auto
input_map[p2_mouse_down] auto
input_map[p2_mouse_left] auto
input_map[p2_mouse_right] auto
input_map[p2_mouse_up] auto
input_map[p2_mousex] auto
input_map[p2_mousey] auto
input_map[p2_paddle_down] auto
input_map[p2_paddle_left] auto
input_map[p2_paddle_right] auto
input_map[p2_paddle_up] auto
input_map[p2_paddlex] auto
input_map[p2_paddley] auto
input_map[p2_pedalbrake] auto
input_map[p2_pedalbrake_push] auto
input_map[p2_pedalbrake_release] auto
input_map[p2_pedalgas] auto
input_map[p2_pedalgas_push] auto
input_map[p2_pedalgas_release] auto
input_map[p2_pedalother] auto
input_map[p2_pedalother_push] auto
input_map[p2_pedalother_release] auto
input_map[p2_right] auto
input_map[p2_stick_backward] auto
input_map[p2_stick_down] auto
input_map[p2_stick_forward] auto
input_map[p2_stick_left] auto
input_map[p2_stick_right] auto
input_map[p2_stick_up] auto
input_map[p2_stickx] auto
input_map[p2_sticky] auto
input_map[p2_stickz] auto
input_map[p2_trackball_down] auto
input_map[p2_trackball_left] auto
input_map[p2_trackball_right] auto
input_map[p2_trackball_up] auto
input_map[p2_trackballx] auto
input_map[p2_trackbally] auto
input_map[p2_up] auto
input_map[p3_button10] auto
input_map[p3_button1] auto
input_map[p3_button2] auto
input_map[p3_button3] auto
input_map[p3_button4] auto
input_map[p3_button5] auto
input_map[p3_button6] auto
input_map[p3_button7] auto
input_map[p3_button8] auto
input_map[p3_button9] auto
input_map[p3_dial_down] auto
input_map[p3_dial_left] auto
input_map[p3_dial_right] auto
input_map[p3_dial_up] auto
input_map[p3_dialx] auto
input_map[p3_dialy] auto
input_map[p3_doubleleft_down] auto
input_map[p3_doubleleft_left] auto
input_map[p3_doubleleft_right] auto
input_map[p3_doubleleft_up] auto
input_map[p3_doubleright_down] auto
input_map[p3_doubleright_left] auto
input_map[p3_doubleright_right] auto
input_map[p3_doubleright_up] auto
input_map[p3_down] auto
input_map[p3_left] auto
input_map[p3_lightgun_down] auto
input_map[p3_lightgun_left] auto
input_map[p3_lightgun_right] auto
input_map[p3_lightgun_up] auto
input_map[p3_lightgunx] auto
input_map[p3_lightguny] auto
input_map[p3_mahjong_a] auto
input_map[p3_mahjong_b] auto
input_map[p3_mahjong_bet] auto
input_map[p3_mahjong_c] auto
input_map[p3_mahjong_chance] auto
input_map[p3_mahjong_chi] auto
input_map[p3_mahjong_d] auto
input_map[p3_mahjong_double_up] auto
input_map[p3_mahjong_e] auto
input_map[p3_mahjong_f] auto
input_map[p3_mahjong_flip_flop] auto
input_map[p3_mahjong_g] auto
input_map[p3_mahjong_h] auto
input_map[p3_mahjong_i] auto
input_map[p3_mahjong_j] auto
input_map[p3_mahjong_k] auto
input_map[p3_mahjong_kan] auto
input_map[p3_mahjong_l] auto
input_map[p3_mahjong_m] auto
input_map[p3_mahjong_n] auto
input_map[p3_mahjong_pon] auto
input_map[p3_mahjong_reach] auto
input_map[p3_mahjong_ron] auto
input_map[p3_mahjong_score] auto
input_map[p3_mouse_down] auto
input_map[p3_mouse_left] auto
input_map[p3_mouse_right] auto
input_map[p3_mouse_up] auto
input_map[p3_mousex] auto
input_map[p3_mousey] auto
input_map[p3_paddle_down] auto
input_map[p3_paddle_left] auto
input_map[p3_paddle_right] auto
input_map[p3_paddle_up] auto
input_map[p3_paddlex] auto
input_map[p3_paddley] auto
input_map[p3_pedalbrake] auto
input_map[p3_pedalbrake_push] auto
input_map[p3_pedalbrake_release] auto
input_map[p3_pedalgas] auto
input_map[p3_pedalgas_push] auto
input_map[p3_pedalgas_release] auto
input_map[p3_pedalother] auto
input_map[p3_pedalother_push] auto
input_map[p3_pedalother_release] auto
input_map[p3_right] auto
input_map[p3_stick_backward] auto
input_map[p3_stick_down] auto
input_map[p3_stick_forward] auto
input_map[p3_stick_left] auto
input_map[p3_stick_right] auto
input_map[p3_stick_up] auto
input_map[p3_stickx] auto
input_map[p3_sticky] auto
input_map[p3_stickz] auto
input_map[p3_trackball_down] auto
input_map[p3_trackball_left] auto
input_map[p3_trackball_right] auto
input_map[p3_trackball_up] auto
input_map[p3_trackballx] auto
input_map[p3_trackbally] auto
input_map[p3_up] auto
input_map[p4_button10] auto
input_map[p4_button1] auto
input_map[p4_button2] auto
input_map[p4_button3] auto
input_map[p4_button4] auto
input_map[p4_button5] auto
input_map[p4_button6] auto
input_map[p4_button7] auto
input_map[p4_button8] auto
input_map[p4_button9] auto
input_map[p4_dial_down] auto
input_map[p4_dial_left] auto
input_map[p4_dial_right] auto
input_map[p4_dial_up] auto
input_map[p4_dialx] auto
input_map[p4_dialy] auto
input_map[p4_doubleleft_down] auto
input_map[p4_doubleleft_left] auto
input_map[p4_doubleleft_right] auto
input_map[p4_doubleleft_up] auto
input_map[p4_doubleright_down] auto
input_map[p4_doubleright_left] auto
input_map[p4_doubleright_right] auto
input_map[p4_doubleright_up] auto
input_map[p4_down] auto
input_map[p4_left] auto
input_map[p4_lightgun_down] auto
input_map[p4_lightgun_left] auto
input_map[p4_lightgun_right] auto
input_map[p4_lightgun_up] auto
input_map[p4_lightgunx] auto
input_map[p4_lightguny] auto
input_map[p4_mahjong_a] auto
input_map[p4_mahjong_b] auto
input_map[p4_mahjong_bet] auto
input_map[p4_mahjong_c] auto
input_map[p4_mahjong_chance] auto
input_map[p4_mahjong_chi] auto
input_map[p4_mahjong_d] auto
input_map[p4_mahjong_double_up] auto
input_map[p4_mahjong_e] auto
input_map[p4_mahjong_f] auto
input_map[p4_mahjong_flip_flop] auto
input_map[p4_mahjong_g] auto
input_map[p4_mahjong_h] auto
input_map[p4_mahjong_i] auto
input_map[p4_mahjong_j] auto
input_map[p4_mahjong_k] auto
input_map[p4_mahjong_kan] auto
input_map[p4_mahjong_l] auto
input_map[p4_mahjong_m] auto
input_map[p4_mahjong_n] auto
input_map[p4_mahjong_pon] auto
input_map[p4_mahjong_reach] auto
input_map[p4_mahjong_ron] auto
input_map[p4_mahjong_score] auto
input_map[p4_mouse_down] auto
input_map[p4_mouse_left] auto
input_map[p4_mouse_right] auto
input_map[p4_mouse_up] auto
input_map[p4_mousex] auto
input_map[p4_mousey] auto
input_map[p4_paddle_down] auto
input_map[p4_paddle_left] auto
input_map[p4_paddle_right] auto
input_map[p4_paddle_up] auto
input_map[p4_paddlex] auto
input_map[p4_paddley] auto
input_map[p4_pedalbrake] auto
input_map[p4_pedalbrake_push] auto
input_map[p4_pedalbrake_release] auto
input_map[p4_pedalgas] auto
input_map[p4_pedalgas_push] auto
input_map[p4_pedalgas_release] auto
input_map[p4_pedalother] auto
input_map[p4_pedalother_push] auto
input_map[p4_pedalother_release] auto
input_map[p4_right] auto
input_map[p4_stick_backward] auto
input_map[p4_stick_down] auto
input_map[p4_stick_forward] auto
input_map[p4_stick_left] auto
input_map[p4_stick_right] auto
input_map[p4_stick_up] auto
input_map[p4_stickx] auto
input_map[p4_sticky] auto
input_map[p4_stickz] auto
input_map[p4_trackball_down] auto
input_map[p4_trackball_left] auto
input_map[p4_trackball_right] auto
input_map[p4_trackball_up] auto
input_map[p4_trackballx] auto
input_map[p4_trackbally] auto
input_map[p4_up] auto
input_map[safequit] auto
input_map[service] auto
input_map[service_coin1] auto
input_map[service_coin2] auto
input_map[service_coin3] auto
input_map[service_coin4] auto
input_map[service_coin5] auto
input_map[service_coin6] auto
input_map[service_coin7] auto
input_map[service_coin8] auto
input_map[start1] auto
input_map[start2] auto
input_map[start3] auto
input_map[start4] auto
input_map[start5] auto
input_map[start6] auto
input_map[start7] auto
input_map[start8] auto
input_map[tilt] auto
input_map[ui_add_cheat] auto
input_map[ui_cancel] auto
input_map[ui_cocktail] auto
input_map[ui_configure] auto
input_map[ui_delete_cheat] auto
input_map[ui_down] auto
input_map[ui_edit_cheat] auto
input_map[ui_frameskip_dec] auto
input_map[ui_frameskip_inc] auto
input_map[ui_help] auto
input_map[ui_left] auto
input_map[ui_load_state] auto
input_map[ui_mode_next] auto
input_map[ui_mode_pred] auto
input_map[ui_on_screen_display] auto
input_map[ui_pan_down] auto
input_map[ui_pan_left] auto
input_map[ui_pan_right] auto
input_map[ui_pan_up] auto
input_map[ui_pause] auto
input_map[ui_record_start] auto
input_map[ui_record_stop] auto
input_map[ui_reset_machine] auto
input_map[ui_right] auto
input_map[ui_save_cheat] auto
input_map[ui_save_state] auto
input_map[ui_select] auto
input_map[ui_show_fps] auto
input_map[ui_show_gfx] auto
input_map[ui_show_profiler] auto
input_map[ui_snapshot] auto
input_map[ui_startup] auto
input_map[ui_throttle] auto
input_map[ui_toggle_cheat] auto
input_map[ui_toggle_crosshair] auto
input_map[ui_toggle_debug] auto
input_map[ui_toggle_ui] auto
input_map[ui_turbo] auto
input_map[ui_up] auto
input_map[ui_watch_value] auto
input_map[volume_down] auto
input_map[volume_up] auto
input_steadykey no
lcd_server none
lcd_speed 4
lcd_timeout 500
misc_bios default
misc_cheat no
misc_cheatfile cheat.dat
misc_difficulty none
misc_eventdebug no
misc_eventfile event.dat
misc_freeplay no
misc_hiscorefile hiscore.dat
misc_historyfile history.dat
misc_infofile mameinfo.dat
misc_lang none
misc_languagefile english.lng
misc_mutedemo no
misc_quiet yes
misc_safequit yes
misc_smp no
misc_timetorun 0
record_sound yes
record_sound_time 15
record_video yes
record_video_interleave 2
record_video_time 15
script_coin1 
script_coin2 
script_coin3 
script_coin4 
script_emulation 
script_event1 
script_event10 
script_event11 
script_event12 
script_event13 
script_event14 
script_event2 
script_event3 
script_event4 
script_event5 
script_event6 
script_event7 
script_event8 
script_event9 
script_led1 on(kdb, 0b1); wait(!event()); off(kdb, 0b1);
script_led2 on(kdb, 0b10); wait(!event()); off(kdb, 0b10);
script_led3 
script_play 
script_safequit 
script_start1 
script_start2 
script_start3 
script_start4 
script_turbo while (event()) { toggle(kdb, 0b100); delay(100); } off(kdb, 0b100);
script_video wait(!event()); set(kdb, 0);
sound_adjust auto
sound_equalizer_highvolume 0
sound_equalizer_lowvolume 0
sound_equalizer_midvolume 0
sound_latency 0.05
sound_mode auto
sound_normalize yes
sound_resamplefilter yes
sound_samplerate 44100
sound_samples yes
sound_volume -3
sync_fps auto
sync_resample auto
sync_speed 1
sync_startuptime auto
sync_turbospeed 3
ui_color[help_other] 000000 808080
ui_color[help_p1] 000000 ffff00
ui_color[help_p2] 000000 00ff00
ui_color[help_p3] 000000 ff0000
ui_color[help_p4] 000000 00ffff
ui_color[interface] 000000 ffffff
ui_color[select] 000000 afffff
ui_color[tag] 247ef0 ffffff
ui_font auto
ui_fontsize auto
ui_helpimage auto
ui_translucency 0.8
